@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');

body {
 margin: 0;
 font-family: 'Roboto', sans-serif;
}

@layer components {
 .menu-tab {
  @apply text-gray-800 cursor-pointer select-none;
 }
 .active-menu-tab {
  @apply rounded-full px-4 py-2 text-white select-none;
 }
}

.bg-primary {
        background: #131921;

}

.bg-secundary {
    background: white;
}

.bg-nav {
    background: #131921;
}

.header-banner {
 background-image: url('../src/assets/conjunto-roupa-sport.png');
 height: 800px;
 background-repeat: no-repeat;
 background-position: top;
 background-size: cover;
}


.banner-not-found {
  background-image: url("../src/assets/error-404-not-found.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;

}


.shared-style p{
  
  @apply text-center text-lg rounded-xl bg-red-200 font-bold p-6;
  margin: 1rem;
}

.shared-style ul {
  @apply list-disc text-lg rounded-xl bg-red-200 font-bold p-6;
  margin: 1rem;
}


